ZENFULNOTE_ADMIN_PASSWORD=
ZENFULNOTE_ADMIN_SESSION_SECRET=

ZENFULNOTE_BACKEND_URL=https://zenfulnote.co/zenful
ZENFULNOTE_GROWTH_DASHBOARD_KEY=
ZENFULNOTE_API_BASE_URL=https://zenfulnote.co/zenful
GROWTH_DASHBOARD_API_KEY=

LOOPRAIL_CMS_API_KEY=
